## **Inroduction to Python**

### Comment lines

In [ ]:
# This is the first comment line
# This is the second comment line
# This is the third comment line

### Inputs and Outputs

In [3]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print ("So the result is", result)
result = int(num1) + int(num2)
print ("So the result is", result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  400

100 <class 'str'> 400 <class 'str'>
So the result is 100400
So the result is 500
End of the program...

In [4]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print ("So the result is", result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  400

100 <class 'int'> 400 <class 'int'>
So the result is 500
End of the program...

In [21]:
print ("Here", num1, "+", num2, "=", result)
print ("Here " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("Here {0} + {1} = {2}".format(num1, num2, result))  # {} is indexed variable placeholder
print ("Here {2} + {1} = {0}".format(result, num2, num1))
print ("Here {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = result))  # {} is labeled variable placeholder
print ("Here {fnum} + {snum} = {tot}".format(snum = num2, fnum = num1, tot = result))
print ("Here %d + %d = %d"%(num1, num2, result))
print ("Here %d + %f = %d"%(num1, num2, result))
print ("Here %d + %10.6f = %d"%(num1, num2, result))
print ("Here %d + %8.2f = %d"%(num1, num2, result))
print (f"Here {num1} + {num2} = {result}")    # smart formatting

Here 100 + 400 = 500
Here 100 + 400 = 500
Here 100 + 400 = 500
Here 100 + 400 = 500
Here 100 + 400 = 500
Here 100 + 400 = 500
Here 100 + 400 = 500
Here 100 + 400.000000 = 500
Here 100 + 400.000000 = 500
Here 100 +   400.00 = 500
Here 100 + 400 = 500

### Operators

In [26]:
# Arithmetic Operators: + - * / // % **
print(100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)   # float division
print (100 // 40)   # integer division
print (100 % 40)   # modulus or mod division
print (100 ** 4)   # exponentiation

140
60
4000
2.5
2
20
100000000

In [27]:
# Relational Operators: > >= < <= = !=
print (100 >= 40, 100 == 100, 100 != 100)

True True False

In [30]:
# Logical Operators: and, or, not
print (True and True, False and False, False and True, True and False)
print (True or True, False or False, False or True, True or False)
print (not True, not False)

True False False False
True False True True
False True

### Conditional Statements

In [35]:
# take three numbers from the user as inputs and print the maximum of them
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The maximum number is the first number =", num1)
    else:
        print ("The maximum number is the third number =", num3)
elif (num2 > num3):
    print ("The maximum number is the second number =", num2)
else:
    print ("The maximum number is the third number =", num3)

Please enter the first number:  300
Please enter the second number:  10
Please enter the third number:  200

The maximum number is the first number = 300

In [ ]:
# take three numbers from the user as inputs and print the maximum of them
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("The maximum number is the first number =", num1)
elif (num2 > num3):
    print ("The maximum number is the second number =", num2)
else:
    print ("The maximum number is the third number =", num3)

### Python Loops

In [2]:
for i in range(10):
    print (f"Looping with i = {i}...")
print ("End of the program...")

Looping with i = 0...
Looping with i = 1...
Looping with i = 2...
Looping with i = 3...
Looping with i = 4...
Looping with i = 5...
Looping with i = 6...
Looping with i = 7...
Looping with i = 8...
Looping with i = 9...
End of the program...

In [3]:
for i in range(0, 10):
    print (f"Looping with i = {i}...")
print ("End of the program...")

Looping with i = 0...
Looping with i = 1...
Looping with i = 2...
Looping with i = 3...
Looping with i = 4...
Looping with i = 5...
Looping with i = 6...
Looping with i = 7...
Looping with i = 8...
Looping with i = 9...
End of the program...

In [4]:
for i in range(0, 10, 1):
    print (f"Looping with i = {i}...")
print ("End of the program...")

Looping with i = 0...
Looping with i = 1...
Looping with i = 2...
Looping with i = 3...
Looping with i = 4...
Looping with i = 5...
Looping with i = 6...
Looping with i = 7...
Looping with i = 8...
Looping with i = 9...
End of the program...

In [5]:
for i in range(0, 10, 2):
    print (f"Looping with i = {i}...")
print ("End of the program...")

Looping with i = 0...
Looping with i = 2...
Looping with i = 4...
Looping with i = 6...
Looping with i = 8...
End of the program...

In [8]:
count = 0
for i in range(1, 10, 2):
    print (f"Looping with i = {i}...")
    count += 1
print (f"\nThe loop executed for {count} number of times..")
print ("End of the program...")

Looping with i = 1...
Looping with i = 3...
Looping with i = 5...
Looping with i = 7...
Looping with i = 9...

The loop executed for 5 number of times..
End of the program...

In [12]:
print ("Hello")
print ("Hello" * 5)
print ("Hello " * 5)
print ("Hello " * 10)

Hello
HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
n = 6 (user given integer)
                 i    .    *
               ---------------
.....*           1    5    1        (i, n)
....***          2    4    3   . => (n - i)
...*****         3    3    5
..*******        4    2    7   * => (2 * i - 1)
.*********       5    1    9
***********      6    0   11
               ---------------

In [16]:
n = int(input("Please enter the number of layers:"))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the pattern print...")

Please enter the number of layers: 6

.....*
....***
...*****
..*******
.*********
***********
End of the pattern print...

In [ ]:
n = 6 (user given integer)
                 i    .    *
               ---------------
***********      1    0   11        (i, n)
.*********       2    1    9   . => (i - 1)
..*******        3    2    7
...*****         4    3    5   * => (2 * (n - i) + 1)
....***          5    4    3
.....*           6    5    1
               ---------------

In [21]:
n = int(input("Please enter the number of layers:"))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the pattern print...")

Please enter the number of layers: 6

***********
.*********
..*******
...*****
....***
.....*
End of the pattern print...

In [23]:
for i in range(8):
    print (f"Looping for i = {i}...")
else:
    print ("Executing the else block...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
Executing the else block...
End of the program...

In [27]:
for i in range(8):
    print (f"Looping for i = {i}...")
    if (i == 80): break
else:
    print ("Executing the else block...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
Executing the else block...
End of the program...

In [31]:
# prime number check
num = int(input("Please enter one integer:"))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is not a Prime Number...")
        break
else:
    print (f"{num} is a Prime Number...")
print ("End of the program...")

Please enter one integer: 15

15 is not a Prime Number...
End of the program...

In [33]:
# prime number check
num = int(input("Please enter one integer:"))
i = 2
while (i <= (num - 1)):
    if (num % i == 0):
        print (f"{num} is not a Prime Number...")
        break
    i = i + 1
else:
    print (f"{num} is a Prime Number...")
print ("End of the program...")

Please enter one integer: 100

100 is not a Prime Number...
End of the program...

In [36]:
print ("Visit Doctor...")    # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day No. - {day} and Medicine No. - {medi}...")    # 15 times
        medicount += 1
    print ("Good Night...")    # 5 times
    print ("--------------------------------------------------")    # 5 times
print (f"Total number of medicines consumed is - {medicount}...")
print ("Thanks to Doctor...")    # 1 time

Visit Doctor...
Good Morning...
Day No. - 1 and Medicine No. - 1...
Day No. - 1 and Medicine No. - 2...
Day No. - 1 and Medicine No. - 3...
Good Night...
--------------------------------------------------
Good Morning...
Day No. - 2 and Medicine No. - 1...
Day No. - 2 and Medicine No. - 2...
Day No. - 2 and Medicine No. - 3...
Good Night...
--------------------------------------------------
Good Morning...
Day No. - 3 and Medicine No. - 1...
Day No. - 3 and Medicine No. - 2...
Day No. - 3 and Medicine No. - 3...
Good Night...
--------------------------------------------------
Good Morning...
Day No. - 4 and Medicine No. - 1...
Day No. - 4 and Medicine No. - 2...
Day No. - 4 and Medicine No. - 3...
Good Night...
--------------------------------------------------
Good Morning...
Day No. - 5 and Medicine No. - 1...
Day No. - 5 and Medicine No. - 2...
Day No. - 5 and Medicine No. - 3...
Good Night...
--------------------------------------------------
Total number of medicines consumed is - 15...
Thanks to Doctor...

In [ ]:
n = 11 (user given ODD integer)   m = (n + 1) // 2 = 6
                 i    .    *
               ---------------
.....*           1    5    1        (i, m, n)
....***          2    4    3   . => (m - i)
...*****         3    3    5
..*******        4    2    7   * => (2 * i - 1)
.*********       5    1    9
***********    __6____0___11__
.*********       7    1    9
..*******        8    2    7   . => (i - m)
...*****         9    3    5
....***         10    4    3   * => (2 * (n - i) + 1)
.....*          11    5    1
               ---------------

In [40]:
while (True):
    n = int(input("Please enter the ODD number of layers:"))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the pattern print...")

Please enter the ODD number of layers: 12
Please enter the ODD number of layers: 10
Please enter the ODD number of layers: 20
Please enter the ODD number of layers: 18
Please enter the ODD number of layers: 11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the pattern print...

In [42]:
while (True):
    n = int(input("Please enter the ODD number of layers:"))
    if (n % 2 == 0):
        pass    # statement place holder
    else:
        break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the pattern print...")

Please enter the ODD number of layers: 12
Please enter the ODD number of layers: 14
Please enter the ODD number of layers: 16
Please enter the ODD number of layers: 11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the pattern print...

In [43]:
while (True):
    n = int(input("Please enter the ODD number of layers:"))
    if (n % 2 == 0):
        print ("Please enter ODD integer...")
    else:
        break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the pattern print...")

Please enter the ODD number of layers: 12

Please enter ODD integer...

Please enter the ODD number of layers: 14

Please enter ODD integer...

Please enter the ODD number of layers: 20

Please enter ODD integer...

Please enter the ODD number of layers: 18

Please enter ODD integer...

Please enter the ODD number of layers: 11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the pattern print...

In [45]:
for i in range(10):
    if (i == 3 or i == 6):
        print (f"Looping again with i = {i}...")
        continue
    print (f"Looping for the value of i = {i}...")
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Looping for the value of i = 0...
Looping for the value of i = 1...
Looping for the value of i = 2...
Looping again with i = 3...
Looping for the value of i = 4...
Looping for the value of i = 5...
Looping again with i = 6...
Looping for the value of i = 7...
Looping for the value of i = 8...
Looping for the value of i = 9...
Executing the ELSE block...
End of the program...

## User Defined Functions (UDF)

In [2]:
def funct1():
    print ("Welcome " * 4)
    
funct1()
funct1()
funct1()

Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome

In [4]:
def funct2(msg, times):   # these are positional parameters
    print (msg * times)
    
funct2("Welcome ", 3)   # these are positional arguments
funct2("Hello ", 5)
funct2("Hi!!! ", 7)

Welcome Welcome Welcome
Hello Hello Hello Hello Hello
Hi!!! Hi!!! Hi!!! Hi!!! Hi!!! Hi!!! Hi!!!

In [8]:
def funct3(msg, times):
    return msg * times

result = funct3("Welcome ", 10)
print (result)
result = funct3("Hello ", 5)
print (result)
print (funct3("Good Morning... ", 6))
print (funct3("Good Morning... ", 1))

Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello
Good Morning... Good Morning... Good Morning... Good Morning... Good Morning... Good Morning...
Good Morning...

In [19]:
# user defined functions with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"Par1 = {par1}, Par2 = {par2} and Par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(par3 = 300, par1 = 100, par2 = 200)
funct4(100, 200)
funct4(100)
funct4()
funct4(par3= 300, par1 = 100)
funct4(par1= 100, par3 = 300)

Par1 = 100, Par2 = 200 and Par3 = 300...
Par1 = 100, Par2 = 200 and Par3 = 300...
Par1 = 100, Par2 = 200 and Par3 = 333...
Par1 = 100, Par2 = 222 and Par3 = 333...
Par1 = 111, Par2 = 222 and Par3 = 333...
Par1 = 100, Par2 = 222 and Par3 = 300...
Par1 = 100, Par2 = 222 and Par3 = 300...

In [20]:
def funct5(num1, num2 = None):
    if (num2 == None):
        return num1 + num1
    else:
        return num1 + num2
    
print (funct5(600))
print (funct5(600, 100))

1200
700

In [23]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct6(100, 40)
print (result, type(result), len(result), id(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) <class 'tuple'> 4 2125040434640
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [28]:
# inbuilt collection types
collection1 = [11, "Amit", True, 45000.00]
print (collection1, type(collection1), len(collection1))
collection1 = (11, "Amit", True, 45000.00)
print (collection1, type(collection1), len(collection1))
collection1 = {"empid":11, "name":"Amit", "married":True, "salary":45000.00}
print (collection1, type(collection1), len(collection1))
collection1 = {11, "Amit", True, 45000.00, "Amit", True, 45000.00, "Amit", True, 45000.00, 11, 11}
print (collection1, type(collection1), len(collection1))

[11, 'Amit', True, 45000.0] <class 'list'> 4
(11, 'Amit', True, 45000.0) <class 'tuple'> 4
{'empid': 11, 'name': 'Amit', 'married': True, 'salary': 45000.0} <class 'dict'> 4
{'Amit', True, 11, 45000.0} <class 'set'> 4

In [31]:
# function with variable number of arguments
def funct7(*arg):  # *arg => forcefully defining the variable as tuple type
    print (arg, type(arg), len(arg), id(arg))
    
funct7 ("Amitava", 34)
funct7 ("Amitava", 34, "Male", "Developer")
funct7 ("Amitava", 34, "Male", "Developer", "IBM", "Texas")

('Amitava', 34) <class 'tuple'> 2 2125053670528
('Amitava', 34, 'Male', 'Developer') <class 'tuple'> 4 2125040280304
('Amitava', 34, 'Male', 'Developer', 'IBM', 'Texas') <class 'tuple'> 6 2125045829632

In [30]:
def funct8(**kwarg):  # **kwarg => forcefully defining the variable as dictionary type
    print (kwarg, type(kwarg), len(kwarg), id(kwarg))
    
funct8 (Name = "Amitava", age = 34)
funct8 (Name = "Amitava", age = 34, gender = "Male", job = "Developer")
funct8 (Name = "Amitava", age = 34, gender = "Male", job = "Developer", company = "IBM", location = "Texas")

{'Name': 'Amitava', 'age': 34} <class 'dict'> 2 2125044400704
{'Name': 'Amitava', 'age': 34, 'gender': 'Male', 'job': 'Developer'} <class 'dict'> 4 2125044658816
{'Name': 'Amitava', 'age': 34, 'gender': 'Male', 'job': 'Developer', 'company': 'IBM', 'location': 'Texas'} <class 'dict'> 6 2125045630080

In [33]:
def funct9(*arg, **kwarg):
    print (arg, type(arg), len(arg), id(arg))
    print (kwarg, type(kwarg), len(kwarg), id(kwarg))
    
funct9 ("Amitava", 34, "Male", job = "Developer", company = "IBM", location = "Texas")
print ()
funct9 ("Amitava", 34, "Male")
print ()
funct9 (job = "Developer", company = "IBM", location = "Texas")

('Amitava', 34, 'Male') <class 'tuple'> 3 2125046099904
{'job': 'Developer', 'company': 'IBM', 'location': 'Texas'} <class 'dict'> 3 2125045637568

('Amitava', 34, 'Male') <class 'tuple'> 3 2125043572672
{} <class 'dict'> 0 2125032020288

() <class 'tuple'> 0 2124924469360
{'job': 'Developer', 'company': 'IBM', 'location': 'Texas'} <class 'dict'> 3 2125045629248

In [34]:
# non-recursive factorial calculation user defined function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = 1
    for i in range(1, num + 1):
        fact = fact * i
    return fact

print (factorial_nr(5))
print (factorial_nr(6))

120
720

In [35]:
# recursive factorial calculation user defined function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120 = 5 * 4! => n! = n * (n - 1)!
def factorial_r(num):
    if (num == 0 or num == 1): return 1   # base case, for some inputs, outputs are pre-known to us
    return num * factorial_r(num - 1)     # recursive case, that means the function will call itself

print (factorial_r(5))
print (factorial_r(6))

120
720

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [37]:
num = 100
result = "Even" if (num % 2 == 0) else "Odd"   # ternary operator
print (f"So {num} is {result} number...")

num = 103
result = "Even" if (num % 2 == 0) else "Odd"
print (f"So {num} is {result} number...")

So 100 is Even number...
So 103 is Odd number...

#### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [42]:
summation = lambda num1, num2: num1 + num2
print (type(summation))
print (summation(100, 400))
print (summation(500, 4000))

<class 'function'>
500
4500

In [40]:
factorial_cal = lambda num: 1 if (num == 0 or num == 1) else num * factorial_cal(num - 1)
print (factorial_cal(5))
print (factorial_cal(6))

120
720

### Importing Modules

In [43]:
import math

In [57]:
print (math.ceil(10.1), math.ceil(10.9), math.floor(10.1), math.floor(10.9))
print (math.factorial(5), math.factorial(6))
print (math.sin(0), math.cos(0), math.tan(0))
print (math.log(1000), math.log(1000, math.e), math.log(1000, 10), math.log10(1000))
print (math.log(1024, 2), math.log2(1024))
print (math.pi, math.e, math.tau)
print (math.sqrt(100), math.pow(10, 3))

11 11 10 10
120 720
0.0 1.0 0.0
6.907755278982137 6.907755278982137 2.9999999999999996 3.0
10.0 10.0
3.141592653589793 2.718281828459045 6.283185307179586
10.0 1000.0

In [ ]:
help(math)

In [60]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

### String Processsing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [9]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval
print (mystr[0::2], mystr[1::2], mystr[8::-2], mystr[9::-2])

university 10 <class 'str'> 2249944087664
v v i i r r
niversi niversi niversi niversi ytisrevinu
uiest nvriy tseiu yirvn

In [11]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper(), mystr.lower(), mystr.title(), mystr.capitalize(),
       mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 2249968744880
CALCUTTA UNIVERSITY calcutta university Calcutta University Calcutta university CAlcUttA UNivERsITy
          caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [17]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

4 4 11 -1
4 4 11

ValueError: substring not found

In [18]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()), mystr.lstrip(), len(mystr.lstrip()), mystr.rstrip(),
       len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 2249968686368
calcutta    university 22 calcutta    university      27     calcutta    university 26
calcutta    university calcutta    university      27

In [19]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")), mystr.lstrip("@#"), mystr.rstrip("@#"),
       len(mystr.rstrip("@#")))

calcutta#@#@university 22 calcutta#@#@university#@@@# ##@@calcutta#@#@university 26

In [20]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True True
True False True

In [24]:
mystr = "Hello"    # Reading character by character from a string
for ch in mystr:
    print (ch)

H
e
l
l
o

In [23]:
mystr = "Hello"    # Reading character by character from a string
for i in range(len(mystr)):
    print (mystr[i])

H
e
l
l
o

In [25]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

charity begins at home 22 <class 'str'> 2249968745440
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [27]:
list_num = input("Enter your all numbers: ").split()
print (list_num)

Enter your all numbers:  11 33 22 55 44 66

['11', '33', '22', '55', '44', '66']

In [36]:
list_num = [int(x) for x in input("Enter your all numbers: ").split()]
print (list_num)

Enter your all numbers:  11 33 22 55 44 66

[11, 33, 22, 55, 44, 66]

In [31]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr, type(mystr))
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2249981354752
charity begins at home <class 'str'>
charity - begins - at - home
charity, begins, at, home

In [32]:
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric())
mystr = "abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric())
mystr = "1234abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric())
mystr = "1234@abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric())

1234 False True True
abcd True True False
1234abcd False True False
1234@abcd False False False

In [34]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)
mystr = mystr.replace("ver", "is")
print (mystr)

2 1 0
unxversxty
university
unxversxty
unxissxty

In [35]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'m', 'p', 'i', 's'}
frozenset({'m', 'p', 'i', 's'})

### List Processsing

In [1]:
list1 = [100, 400, 300, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 700] 5 <class 'list'> 2489561721408
700 100
1700 340.0

In [2]:
list1 = [100, 400, True, 300, 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 300, 200, False, 700] 7 <class 'list'> 2489561714816
700 False
1701 243.0

In [5]:
list1 = ["sunday", "monday", 'friday', 'saturday', 'Tuesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['sunday', 'monday', 'friday', 'saturday', 'Tuesday'] 5 <class 'list'> 2489590381504
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
# Indexing and slicing
# L to R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 <class 'list'> 2489590489984
Wednesday Wednesday Thursday Thursday
nes nes

In [9]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = list1 + list2    # list concatenation
print (list1)
print (list2)
print (list3)
list1.extend(list2)      # list concatenation
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Mango', 'Pineapple', 'Guava', 'Lime']

In [10]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
list3 = [list1, list2]      # list of lists
print (list1)
print (list2)
print (list3)
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], ['Mango', 'Pineapple', 'Guava', 'Lime']]
5 4
['Pineapple', 'Guava'] ['Wednesday', 'Thursday'] nes

In [14]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.append("Guava")
print (list1)
list1.append("Mango")
print (list1)
list1.append("Peanut")
print (list1)
list1.insert(1, "Lemon")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Mango']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Mango', 'Peanut']
['Mango', 'Lemon', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Mango', 'Peanut']

In [12]:
# update operation on list
list1[0] = "Himsagar"
print (list1)

['Himsagar', 'Lemon', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Mango', 'Peanut']

In [20]:
# deletion operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Lime']
print (list1)
list1.remove("Pineapple")
print (list1)
list1.remove("Banana")
print (list1)
list1.remove("Banana")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Lime']
['Mango', 'Coconut', 'Banana', 'Pineapple', 'Lime']
['Mango', 'Coconut', 'Pineapple', 'Lime']

ValueError: list.remove(x): x not in list

In [19]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
print (list1.pop())
print (list1)
print (list1.pop())
print (list1)
print (list1.pop(1))
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
Lime
['Mango', 'Pineapple', 'Coconut', 'Banana']
Banana
['Mango', 'Pineapple', 'Coconut']
Pineapple
['Mango', 'Coconut']

In [21]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.clear()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
[]

In [22]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
del list1[2]
print (list1)
del list1
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Pineapple', 'Banana', 'Lime']

NameError: name 'list1' is not defined

In [24]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.reverse()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Lime', 'Banana', 'Coconut', 'Pineapple', 'Mango']

In [26]:
# sorting of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.sort()
print (list1)
list1.reverse()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [27]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.sort(reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [28]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1 = sorted(list1)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']

In [29]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1 = sorted(list1, reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [3]:
list1 = [True, False, True, True]
print (any(list1), all(list1))

True False

In [4]:
list1 = [True, True, True, True]
print (any(list1), all(list1))

True True

In [5]:
list1 = [False, False, False, False]
print (any(list1), all(list1))

False False

In [23]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1.count('Pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))

2
1
4

### Tuple Processsing

In [7]:
tuple1 = (100, 400, 300, 200, 700)

print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 700) 8 <class 'tuple'> 2099201598752
700 100
1700 340.0

In [8]:
tuple1 = (100, 400, True, 300, 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 300, 200, False, 700) 8 <class 'tuple'> 2099201646528
700 False
1701 243.0

In [9]:
tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700) 8 <class 'tuple'> 2099201287872

TypeError: '>' not supported between instances of 'str' and 'int'

In [10]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

Wednesday Wednesday Thursday Thursday
nes nes

In [11]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
print (tuple1)
print (tuple2)
tuple3 = tuple1 + tuple2      # tuple concatenation
print (tuple3)
tuple3 = (tuple1, tuple2)     # tuple of tuples
print (tuple3)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Mango', 'Pineapple', 'Guava', 'Lime')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime')
(('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'), ('Mango', 'Pineapple', 'Guava', 'Lime'))

In [12]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [13]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple1[1] = 'Saturday'
list1 = list(tuple1)
list1[1] = 'Saturday'
tuple1 = tuple(list1)

TypeError: 'tuple' object does not support item assignment

In [17]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
print (tuple1, id(tuple1))
print (list1, id(list1))
list1[1] = 'Saturday'
tuple1 = tuple(list1)
print (tuple1, id(tuple1))
print (list1, id(list1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2099202490752
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 2099201515264
('Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday') 2099202215504
['Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday'] 2099201515264

In [19]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
tuple2 = tuple(sorted(tuple1))
print (tuple2, id(tuple2))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2099202390624
('Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday') 2099202490752

In [20]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.count('Pineapple'), tuple1.count('Lemon'))

2 0

In [22]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0), tuple1.index("Pineapple", 2))
print (tuple1.index("Pineapple", 5))

1
1 4

ValueError: tuple.index(x): x not in tuple

### Dictionary Processsing

In [25]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", 
         "lime":"green", "mango":"red"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())     # returns list of keys
print (dict1.values())   # returns list of values
print (dict1.items())    # returns list of tuples

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2099205194432
dict_keys(['apple', 'pineapple', 'mango', 'orange', 'lime'])
dict_values(['red', 'yellow', 'red', 'orange', 'green'])
dict_items([('apple', 'red'), ('pineapple', 'yellow'), ('mango', 'red'), ('orange', 'orange'), ('lime', 'green')])

In [27]:
for var1 in dict1.items():
    print (var1)
    print (var1[0], var1[1])

('apple', 'red')
apple red
('pineapple', 'yellow')
pineapple yellow
('mango', 'red')
mango red
('orange', 'orange')
orange orange
('lime', 'green')
lime green

In [28]:
for key_var, value_var in dict1.items():
    print (key_var, value_var)

apple red
pineapple yellow
mango red
orange orange
lime green

In [38]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange", "lime":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get("mango"))
print (dict1.get("coconut"))
print (dict1.get("coconut", "Not Available"))
print (dict1.get("mango", "Not Available"))
print (dict1['mango'])
print (dict1['coconut'])

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'lime': 'green'} 5 <class 'dict'> 2099205627392
green
None
Not Available
green
green

KeyError: 'coconut'

In [40]:
# insert and update operations on a dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['banana'] = 'yellow'    # insert operation
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['mango'] = 'red'    # update operation
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099205624448
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'banana': 'yellow'} 5 <class 'dict'> 2099205624448
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'banana': 'yellow'} 5 <class 'dict'> 2099205624448

In [41]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("apple", "deep red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("mango", "red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("banana", "yellow")
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099205600512
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099205600512
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099205600512
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'banana': 'yellow'} 5 <class 'dict'> 2099205600512

In [42]:
# delete operation on dictionary
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('pineapple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('mango'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('mango'))
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099206186176
yellow
{'apple': 'red', 'mango': 'green', 'orange': 'orange'} 3 <class 'dict'> 2099206186176
green
{'apple': 'red', 'orange': 'orange'} 2 <class 'dict'> 2099206186176

KeyError: 'mango'

In [43]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099206681664
('orange', 'orange')
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 2099206681664
('mango', 'green')
{'apple': 'red', 'pineapple': 'yellow'} 2 <class 'dict'> 2099206681664
('pineapple', 'yellow')
{'apple': 'red'} 1 <class 'dict'> 2099206681664

In [44]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099206677312
{} 0 <class 'dict'> 2099206677312

In [45]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 2099206678528

NameError: name 'dict1' is not defined

In [47]:
# concatenation of dictionaries
fruits1 = {"apple":"red", "pineapple":"yellow"}
print (fruits1)
fruits2 = {"mango":"green", "orange":"orange", "lime":"green"}
print (fruits2)
fruits2.update(fruits1)
print (fruits1)
print (fruits2)

{'apple': 'red', 'pineapple': 'yellow'}
{'mango': 'green', 'orange': 'orange', 'lime': 'green'}
{'apple': 'red', 'pineapple': 'yellow'}
{'mango': 'green', 'orange': 'orange', 'lime': 'green', 'apple': 'red', 'pineapple': 'yellow'}

In [47]:
# concatenation of dictionaries
fruits1 = {"apple":"red", "pineapple":"yellow"}
print (fruits1)
fruits2 = {"mango":"green", "orange":"orange", "lime":"green"}
print (fruits2)
fruits2.update(fruits1)
print (fruits1)
print (fruits2)

{'apple': 'red', 'pineapple': 'yellow'}
{'mango': 'green', 'orange': 'orange', 'lime': 'green'}
{'apple': 'red', 'pineapple': 'yellow'}
{'mango': 'green', 'orange': 'orange', 'lime': 'green', 'apple': 'red', 'pineapple': 'yellow'}

In [61]:
mykeys = ["mango", 'pineapple', "cherry", "lime"]
price = 900
dict1 = dict.fromkeys(mykeys, price)
print (dict1)

{'mango': 900, 'pineapple': 900, 'cherry': 900, 'lime': 900}

In [53]:
fruits = ["mango", 'pineapple', "cherry", "lime", "banana"]
prices = [100, 300, 500, 200, 700, 900]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (dict(zip(fruits, prices)))
print (dict(list(zip(fruits, prices))))

<zip object at 0x000001E8C2786E40>
[('mango', 100), ('pineapple', 300), ('cherry', 500), ('lime', 200), ('banana', 700)]
(('mango', 100), ('pineapple', 300), ('cherry', 500), ('lime', 200), ('banana', 700))
{'mango': 100, 'pineapple': 300, 'cherry': 500, 'lime': 200, 'banana': 700}
{'mango': 100, 'pineapple': 300, 'cherry': 500, 'lime': 200, 'banana': 700}

In [54]:
def switch_case_demo(month_no):
    switcher = {1:"January",
                2:"February",
                3:"March",
                4:"April",
                5:"May",
                6:"June",
                7:"July",
                8:"August",
                9:"September",
                10:"October",
                11:"November",
                12:"December"}
    return switcher.get(month_no, "Invalid Month No.")

print (switch_case_demo(3))
print (switch_case_demo(8))
print (switch_case_demo(12))
print (switch_case_demo(13))

March
August
December
Invalid Month No.

In [59]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, id(dict1))
dict2 = dict1.copy()
print (dict2, id(dict2))
dict1['mango'] = "red"
print (dict1, id(dict1))
print (dict2, id(dict2))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 2099206506752
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 2099206709504
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange'} 2099206506752
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 2099206709504

### Set Processsing

In [62]:
# forming a set from a list
list1 = ['Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         70000, "Chennai", True, 38.5]
print (list1)
set1 = set(list1)
print (set1)

['Amitava', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5]
{True, 38.5, 'Amitava', 70000, 'Chennai'}

In [63]:
# forming a set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         70000, "Chennai", True, 38.5)
print (tuple1)
set1 = set(tuple1)
print (set1)

('Amitava', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5)
{True, 38.5, 'Amitava', 70000, 'Chennai'}

In [64]:
# forming a set directly
set1 = {'Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
        70000, "Chennai", True, 38.5}
print (set1)

{70000, True, 38.5, 'Amitava', 'Chennai'}

#### set operations: union, intersection, set difference, symmetric difference

In [69]:
# union operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
result = snakes.union(languages)
print (result)
result = snakes | languages
print (result)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'cobra', 'python', 'viper', 'c++', 'java'}
{'cobra', 'python', 'viper', 'c++', 'java'}

In [72]:
# intersection operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
result = snakes.intersection(languages)
print (result)
result = snakes & languages
print (result)
print (snakes)
print (languages)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'python'}
{'python'}
{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}

In [74]:
# intersection operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
snakes.intersection_update(languages)
print (snakes)
print (languages)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'python'}
{'c++', 'python', 'java'}

In [75]:
# set difference operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
result = snakes.difference(languages)
print (result)
result = snakes - languages
print (result)
print (snakes)
print (languages)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'cobra', 'viper'}
{'cobra', 'viper'}
{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}

In [77]:
# set difference operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
snakes.difference_update(languages)
print (snakes)
print (languages)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'cobra', 'viper'}
{'c++', 'python', 'java'}

In [78]:
# set symmetric difference operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
result = snakes.symmetric_difference(languages)
print (result)
result = snakes ^ languages
print (result)
print (snakes)
print (languages)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'cobra', 'viper', 'c++', 'java'}
{'cobra', 'viper', 'c++', 'java'}
{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}

In [80]:
# set symmetric difference operations
snakes = {'viper', 'python', 'cobra'}
languages = {'java', 'c++', 'python'}
print (snakes)
print (languages)
snakes.symmetric_difference_update(languages)
print (snakes)
print (languages)

{'cobra', 'python', 'viper'}
{'c++', 'python', 'java'}
{'cobra', 'viper', 'c++', 'java'}
{'c++', 'python', 'java'}

In [81]:
set1 = {100, 200, 300}
set2 = {400, 500, 600, 700, 800}
set3 = {600, 700, 800}
print (set1.issuperset(set2), set2.issuperset(set3), set3.issuperset(set2))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))
print (set1.isdisjoint(set2), set2.isdisjoint(set3), set3.isdisjoint(set2))

False True False
False False True
True False False

In [83]:
set1 = {100, 200, 300}
set2 = set1.copy()
print (set1, id(set1), set2, id(set2))
set2.pop()
print (set1, id(set1), set2, id(set2))

{200, 100, 300} 2099216011264 {200, 100, 300} 2099216011488
{200, 100, 300} 2099216011264 {100, 300} 2099216011488

In [86]:
# insert operation on a set
set1 = {100, 200, 300}
print (set1)
set1.add(400)
print (set1)
set1.add(700)
print (set1)
set1.add(800)
print (set1)
set1.add(400)
print (set1)

{200, 100, 300}
{200, 100, 400, 300}
{100, 200, 300, 400, 700}
{800, 100, 200, 300, 400, 700}
{800, 100, 200, 300, 400, 700}

In [88]:
# delete operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1)
set1.remove(300)
print (set1)
set1.remove(100)
print (set1)
set1.remove(400)
print (set1)
set1.remove(400)
print (set1)

{400, 700, 100, 500, 200, 600, 300}
{400, 700, 100, 500, 200, 600}
{400, 700, 500, 200, 600}
{700, 500, 200, 600}

KeyError: 400

In [89]:
# delete operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1)
set1.discard(300)
print (set1)
set1.discard(600)
print (set1)
set1.discard(500)
print (set1)
set1.discard(500)
print (set1)

{400, 700, 100, 500, 200, 600, 300}
{400, 700, 100, 500, 200, 600}
{400, 700, 100, 500, 200}
{400, 700, 100, 200}
{400, 700, 100, 200}

In [90]:
# delete operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1)
print (set1.pop())
print (set1)
print (set1.pop())
print (set1)
print (set1.pop())
print (set1)
print (set1.pop())
print (set1)

{400, 700, 100, 500, 200, 600, 300}
400
{700, 100, 500, 200, 600, 300}
700
{100, 500, 200, 600, 300}
100
{500, 200, 600, 300}
500
{200, 600, 300}

In [91]:
# delete operation on a set
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1)
set1.clear()
print (set1)

{400, 700, 100, 500, 200, 600, 300}
set()

In [95]:
var1 = []
print (var1, type(var1), len(var1))
var1 = ()
print (var1, type(var1), len(var1))
var1 = {}
print (var1, type(var1), len(var1))
var1 = set()
print (var1, type(var1), len(var1))

[] <class 'list'> 0
() <class 'tuple'> 0
{} <class 'dict'> 0
set() <class 'set'> 0

In [96]:
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1)
del set1
print (set1)

{400, 700, 100, 500, 200, 600, 300}

NameError: name 'set1' is not defined

In [98]:
# update operation on a set, actually not possible
set1 = {100, 200, 300, 600, 700, 500, 400}
print (set1)
set1.remove(600)   # deleting the item
set1.add(1600)   # inserting the item
print (set1)

{400, 700, 100, 500, 200, 600, 300}
{400, 1600, 700, 100, 500, 200, 300}

In [100]:
# concatenating two sets
set1 = {100, 200, 300}
set2 = {300, 600, 700, 500, 400}
print (set1)
print (set2)
set1.update(set2)
print (set1)
print (set2)

{200, 100, 300}
{400, 700, 500, 600, 300}
{100, 200, 300, 400, 500, 600, 700}
{400, 700, 500, 600, 300}

### Frozen Set Processsing

In [65]:
# forming a set from a list
list1 = ['Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         70000, "Chennai", True, 38.5]
print (list1)
set1 = frozenset(list1)
print (set1)

['Amitava', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5]
frozenset({True, 38.5, 'Amitava', 70000, 'Chennai'})

In [66]:
# forming a set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, "Chennai", True, 38.5, 70000, "Chennai", True, 38.5,
         70000, "Chennai", True, 38.5)
print (tuple1)
set1 = frozenset(tuple1)
print (set1)

('Amitava', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5, 70000, 'Chennai', True, 38.5)
frozenset({True, 38.5, 'Amitava', 70000, 'Chennai'})

#### set operations: union, intersection, set difference, symmetric difference

In [70]:
# union operations
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes)
print (languages)
result = snakes.union(languages)
print (result)
result = snakes | languages
print (result)

frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})
frozenset({'cobra', 'python', 'viper', 'c++', 'java'})
frozenset({'cobra', 'python', 'viper', 'c++', 'java'})

In [73]:
# intersection operations
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes)
print (languages)
result = snakes.intersection(languages)
print (result)
result = snakes & languages
print (result)
print (snakes)
print (languages)

frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})
frozenset({'python'})
frozenset({'python'})
frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})

In [76]:
# set difference operations
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes)
print (languages)
result = snakes.difference(languages)
print (result)
result = snakes - languages
print (result)
print (snakes)
print (languages)

frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})
frozenset({'cobra', 'viper'})
frozenset({'cobra', 'viper'})
frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})

In [79]:
# set symmetric difference operations
snakes = frozenset(['viper', 'python', 'cobra'])
languages = frozenset(['java', 'c++', 'python'])
print (snakes)
print (languages)
result = snakes.symmetric_difference(languages)
print (result)
result = snakes ^ languages
print (result)
print (snakes)
print (languages)

frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})
frozenset({'cobra', 'viper', 'c++', 'java'})
frozenset({'cobra', 'viper', 'c++', 'java'})
frozenset({'cobra', 'python', 'viper'})
frozenset({'c++', 'python', 'java'})

In [82]:
set1 = frozenset([100, 200, 300])
set2 = frozenset([400, 500, 600, 700, 800])
set3 = frozenset([600, 700, 800])
print (set1.issuperset(set2), set2.issuperset(set3), set3.issuperset(set2))
print (set1.issubset(set2), set2.issubset(set3), set3.issubset(set2))
print (set1.isdisjoint(set2), set2.isdisjoint(set3), set3.isdisjoint(set2))

False True False
False False True
True False False

In [85]:
set1 = frozenset([100, 200, 300])
set2 = set1.copy()
print (set1, id(set1), set2, id(set2))

frozenset({200, 100, 300}) 2099213652416 frozenset({200, 100, 300}) 2099213652416